<!DOCTYPE html>

<html>
<head>
<title>What You Need: </title>
  <meta charset="UTF-8">
  <meta name="description" content="Make a shopping list">
  <meta name="keywords" content="HTML,CSS,XML,JavaScript">
  <meta name="author" content="Alice and Monica Wen">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, , user-scalable = no">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">
</script>


<!--added here-->
<link href = "//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel = "stylesheet">

</head>

<body>

      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src = "//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>




<h1>What do you need: </h1>
<p> You always need pineapple</p>
<img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCEhoXruNUmILrID88nhjFUV-j7xeUrASwxI9AIZdIY-q2DWRs" alt="Pineapple here">

<script>
var app = angular.module('myShoppingList', []);
app.controller('myCtrl', function($scope) {
    $scope.products = ["Butter","Milk","Eggs"];
    $scope.addItem = function(){
    	$scope.products.push($scope.addMe);
    }
    $scope.removeItem = function(x){
    	$scope.products.splice(x,1);
    }
});
</script>

<div ng-app="myShoppingList" ng-controller="myCtrl">
	<ul>
		<li ng-repeat="x in products">{{x}}
			<span ng-click = "removeItem($index)">&times;</span>
		</li>
	</ul>
	<input ng-model="addMe">
	<button ng-click="addItem()">Add</button>
</div>


</body>


</html>