<!DOCTYPE html>

<html>
<head>
<title>This is the Wen-derfulest Website</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">
</script>
</head>

<body>
<h1>Wenderful site</h1>
<p> Becoming wen-derful...</p>
<img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCEhoXruNUmILrID88nhjFUV-j7xeUrASwxI9AIZdIY-q2DWRs" alt="Pineapple here">

<script>
var app = angular.module('myShoppingList', []);
app.controller('myCtrl', function($scope) {
    $scope.products = ["Butter","Milk","Eggs"];
    $scope.addItem = function(){
    	$scope.products.push($scope.addMe);
    }
});
</script>

<div ng-app="myShoppingList" ng-controller="myCtrl">
	<ul>
		<li ng-repeat="x in products">{{x}}</li>
	</ul>
	<input ng-model="addMe">
	<button ng-click="addItem()">Add</button>
</div>

<p>finished!</p>

</body>


</html>